---
layout: base
permalink: /
mainClass: "map"
mapbox: true
---
<div id="map"></div>
<div id="logo">
  <a href="https://citybureau.org" target="_blank">
    <span class="visually-hidden">City Bureau</span>
    <img src="{{ site.url }}{% resizeImage './src/img/icon.png', '64x64' %}" alt="City Bureau logo" />
  </a>
</div>
<div id="legend">
  <h1>
    Illinois 2020 General Election
  </h1>
  {# TODO: Brief description? #}
  <form action="" method="GET" id="legend-form">
    <fieldset>
      <legend>
        Layer
      </legend>
      <div class="layer-options">
        <label>
          <input name="layer" type="radio" value="points" checked>
          <span>
            Vote Dots
          </span>
        </label>
        <label>
          <input name="layer" type="radio" value="precincts">
          <span>
            Precincts
          </span>
        </label>
      </div>
    </fieldset>
    <div class="scale points" data-layer="points-il-constitution">
      <div class="scale-point">
        <span class="point yes"></span>
        <span>Yes</span>
      </div>
      <div class="scale-point">
        <span class="point no"></span>
        <span>No</span>
      </div>
      <p class="description">
        Each dot represents one vote
      </p>
    </div>
    <div class="scale points hidden" data-layer="points-us-president">
      <div class="scale-point">
        <span class="point dem"></span>
        <span>Biden</span>
      </div>
      <div class="scale-point">
        <span class="point rep"></span>
        <span>Trump</span>
      </div>
      <div class="scale-point">
        <span class="point other"></span>
        <span>Other</span>
      </div>
      <p class="description">
        Each dot represents one vote
      </p>
    </div>
    <div class="scale precincts hidden" data-layer="precincts-il-constitution">
      <div class="scale-precincts il-constitution"></div>
      <div class="labels-precincts">
        <span>Yes</span>
        <span>No</span>
      </div>
    </div>
    <div class="scale precincts hidden" data-layer="precincts-us-president">
      <div class="scale-precincts us-president"></div>
      <div class="labels-precincts">
        <span>Biden</span>
        <span>Trump</span>
      </div>
    </div>
    <fieldset>
      <legend>
        Race
      </legend>
      <div class="race-options">
        <label>
          <input name="race" type="radio" value="il-constitution" checked>
          <span>
            Tax Amendment
          </span>
        </label>
        <label>
          <input name="race" type="radio" value="us-president">
          <span>
            US President
          </span>
        </label>
      </div>
    </fieldset>
    {# TODO: Data notes? #}
  </form>
</div>
