---
layout: base
permalink: /
mainClass: "map"
mapbox: true
---
<div id="map"></div>
<div id="legend">
  <h1>
    Illinois 2020 General Election
  </h1>
  {# TODO: Brief description? #}
  <form action="" method="GET" id="legend-form">
    <fieldset>
      <legend>
        Layer
      </legend>
      <div class="layer-options">
        <label>
          <input name="layer" type="radio" value="points" checked>
          <span>
            Points
          </span>
        </label>
        <label>
          <input name="layer" type="radio" value="precincts">
          <span>
            Precincts
          </span>
        </label>
      </div>
    </fieldset>
    {# TODO: Legend ramps, dots #}
    <fieldset>
      <legend>
        Race
      </legend>
      <div class="race-options">
        <label>
          <input name="race" type="radio" value="il-constitution" checked>
          <span>
            Tax Amendment
          </span>
        </label>
        <label>
          <input name="race" type="radio" value="us-president">
          <span>
            US President
          </span>
        </label>
      </div>
    </fieldset>
    {# TODO: Data notes? #}
  </form>
</div>
